@import "tailwindcss";

@import "tailwindcss";
@theme {
  --font-primary: "Roboto", "sans-serif";
  --font-secondary: "Open Sans", "sans-serif";
  --font-primary-2: "Montserrat", "-sans-serif";
  --breakpoint-3xl: 120rem;
  /* color */
  --color-cornflower-blue: #669df6ff;
  --color-auzure: #4285f4;
  --color-mint-green: #ddfef8;
  --color-russian-Violet: #23194f;
  --color-Alice-Blue: #bac8f566;
  --color-Ghost-white: #d4d4dc;
  --color-jordy-blue: #aecbfaff;
  --color-dark-purple: #242038ff;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
    opacity: 0.95;
  }
}

.button {
  font-family: var(--font-primary-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-russian-Violet);
  color: var(--color-mint-green);
  border-radius: 0.3rem;
  border: 1.75px solid var(--color-dark-purple);
  transition: background-color 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    color 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    border-color 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover {
  background-color: transparent;
  color: var(--color-dark-purple);
  transform: translateY(-4px) scale(1.03);
  border-color: var(--color-dark-purple);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.FAQ {
  font-family: var(--font-primary);
  color: var(--color-dark-purple);
}
.FAQ:hover {
  background: #a5a5a566;
  transform: scale(1.05) translateX(2px);
  animation: pulse 20s ease-in-out;
}
.FAQA {
  font-family: var(--font-primary);
  color: var(--color-charcoal);
}

.hover-navbar:hover {
  border-radius: 0.3rem;
  padding: 0.3rem;
  background: #a5a5a566;
  color: var(--color-russian-Violet);
}
html {
  scroll-behavior: smooth;
}
@keyframes zoomBounceSync {
  0%,
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60%,
  100% {
    transform: scale(1);
  }
}

.animate-zoom-bounce {
  animation: zoomBounceSync 1s infinite ease-in-out;
}


@custom-variant dark (&:where(.dark, .dark *));